### SublimeText ###
# SublimeText project files
*.sublime-*

### Webstorm ###
/.idea/*

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.min.js.map
*.min.css.map

pids
logs
results

npm-debug.log
node_modules
*.DS_Store

.tmp
*.orig
*~