<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My first angular app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-app="myApp" ng-controller="AppCtrl as vm">




<div>
    {{vm.text}}
</div>


<div style="float:left; width: 500px">
    <h1>Concerts in Iceland</h1>
    <div ng-if="vm.errorMessage">{{vm.errorMessage}}</div>
    <button type="button" ng-click="vm.buttonClick()">
    Click me
</button>
    <div ng-if="vm.loading" style="text-align:center"><i class="fa fa-refresh fa-spin fa-2x" aria-hidden="true"></i></div>
    <concerts concerts-data="vm.concerts"></concerts>
    <h1>Tv Schedule</h1>
    <tv-schedule></tv-schedule>

</div>
<div style="float:left; width: 500px">
    <h1>Gas stations in Iceland</h1>
    <petrol></petrol>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
<script src="app.module.js"></script>
<script src="concerts/concerts.factory.js"></script>
<script src="app.controller.js"></script>
<script src="concerts/concerts.component.js"></script>
<script src="tv/tv.factory.js"></script>
<script src="tv/tv-schedule.component.js"></script>
<script src="petrol/petrol.factory.js"></script>
<script src="petrol/petrol.component.js"></script>

</body>
</html>