
    <div ng-if="vm.loading" style="text-align:center"><i class="fa fa-refresh fa-spin fa-2x" aria-hidden="true"></i></div>
    <div>
        Here are the gas stations in Iceland
    </div>

    <div>
        <button class="button button--success" type="button" ng-click="vm.showPetrol()">
            Get Petrol
        </button>

        <button class="button button--danger" type="button" ng-click="vm.hidePetrol()" ng-if="vm.petrolData.length">
            Empty Petrol
        </button>

        <table class="table" ng-if="vm.petrolData.length">
            <thead>
            <tr>
                <th>Company</th>
                <th>Location</th>
                <th>Bensin</th>
                <th>Diesel</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="petrol in vm.petrolData">
                <td>{{petrol.company}}</td>
                <td>{{petrol.name}}</td>
                <td>{{petrol.bensin95}}</td>
                <td>{{petrol.diesel}}</td>
            </tr>
            </tbody>
        </table>
    </div>


